@import "tailwindcss";

@theme inline {
    --color-background: #222831;
    --color-foreground: #eeeeee;
    --color-primary: #00adb5;
    --color-accent: #6a1b9a;
    --color-secondary-background: #393e46;
    --color-waiting: oklch(85.2% 0.199 91.936);
    --color-accepted: oklch(79.2% 0.209 151.711);
    --color-rejected: oklch(70.4% 0.191 22.216);
}

@layer base {
    body {
        @apply bg-background text-foreground;
        font-family: monospace, Courier;
    }
    th,
    td {
        padding: 8px 10px;
        text-align: center;
    }
}
